.header {
  color: white;
  background: teal;
  padding: 20px;
  text-align: center;
}
.navbar {
  overlow: hidden;
  background: grey;
  padding:10px 0px
}
.navbar a{
  color: white;
  text-decoration: none;
  padding: 10px 15px
}
.navbar a:hover{
  background: white;
  color:teal;
}
.main_content {
  margin-right: 500px;
  word-wrap: break-word;
  color: navy;
  padding: 5px;
  padding-left: 50px
}
.img{
  padding: 10px;
}
{
  box-sizing: border-box;
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color:grey;
  min-width: 90px;
  box-shadow: 0px 8px 16px 0px rgba(0,2,1,0.55);
  z-index: 1;
  
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: white; color:teal}

.dropdown:hover .dropdown-content {display: block; }

.dropdown:hover .dropbtn {background-color: white; color:teal;}

body {
  background-color: lightgrey;
}
